<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/slim %>

		<title>FRC Scout | 404</title>
	</head>
	<body>
		<section class="hero is-dark is-fullheight">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">Error: 404</h1>
					<h2 class="subtitle">We couldn't find this page</h2>
				</div>
			</div>
		</section>
	</body>
</html>
