<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

    <script src="/js/home.js" defer></script>

    <title>FRC Scout | Dashboard</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/dash/home">
            <img src="/img/first-logo-horizontal.png" />
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" v-on:click="logout">
                  <strong>Logout</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
