<!DOCTYPE html>
<html is-clipped>
  <head>
    <% include ../partials/head %>

    <script src="/js/home.js" defer></script>

    <title>FRC Scout | Dashboard</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/dash/home">
            <img src="/img/first-logo-horizontal.png" />
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" v-on:click="logout">
                  <strong>Logout</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="section">
        <div class="container">
          <h1 class="title">Devices</h1>

          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Active</th>
                <th>Code</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="device in devices">
                <th>{{ device.name }}</th>
                <td>{{ device.active }}</td>
                <td>{{ device.activationCode }}</td>
                <td>
                  <a class="button is-danger" v-on:click="removeDevice">
                    Remove
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <a
            class="button is-primary"
            v-on:click="modalVisible.newDevice = true"
          >
            New Device
          </a>
        </div>
      </section>

      <div class="modal" v-bind:class="{ 'is-active': modalVisible.newDevice }">
        <div
          class="modal-background"
          v-on:click="modalVisible.newDevice = false"
        ></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">New Device</p>
            <button
              class="delete"
              aria-label="close"
              v-on:click="modalVisible.newDevice = false"
            ></button>
          </header>

          <section class="modal-card-body">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Name"
                  v-model="newDeviceName"
                />
              </div>
            </div>
          </section>

          <footer class="modal-card-foot">
            <button class="button is-success" v-on:click="createDevice">
              Create
            </button>
            <button class="button" v-on:click="modalVisible.newDevice = false">
              Cancel
            </button>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
